.Product-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 4;
    top: 120px;
    width:100%;
    height:100px;
    background-color:  var(--raspberry-glaze);
    padding:10px;
    box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.15);
}

.Product-selection{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:850px;
    height: 100%;
    padding:10px;
    cursor:pointer;
}
.Menu-container{
    position: absolute;
}
.Dropdown-item{
    display:flex;
    list-style: none;
    align-items: center;
    margin-bottom:10px;
    justify-content: center;
    font-weight: bold;
    border-radius: 25px;
    background-color: rgb(246, 175, 255);
    box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.15);
    height:50px;
    width:100%;
}
.List-item{
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 25px;
    background-color: rgb(246, 175, 255);
    height:50px;
    width:130px;

}
.Menu-trigger{
    position:absolute;
    display:none;
    background-color: transparent;
    border:none;
    left:20px;
    height:80px;
    width:80px;
    overflow:hidden;
    cursor:pointer;
}
.Menu-trigger img{
    width:40px;
    height:50px;
}
.Dropdown-menu {
    position: absolute;
    top: 210px;
    padding: 30px;
    border-radius: 0 25px 25px 0;
    width: 300px;
    /* height: 800px; */
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateX(-300px);
    left: 0px;
    opacity: 0;
    background-color: white;
    box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.15);
}

.Dropdown-menu.active {
    opacity: 1;
    transform: translateX(0);
}

.Dropdown-menu.inactive {
    opacity: 0;
    transform: translateX(-300px);
}

@media(min-width: 1001px) {
    .Dropdown-menu{
        display:none;
    }
}

@media(max-width: 1000px) {
    .Product-selection{
        display:none;
    }
    .Menu-trigger{
        display:block;
    }
}


