.TopNavContainer { 
    display: flex;
    justify-content: center;
    font-family: var(--font-highlight);
    width: 100%;
    height: 120px;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

.CartAttribute {
    position:absolute;
    right: 150px;
    height:35px;
    width:35px;
}
.CartAttribute:hover{
    cursor:pointer;
}

.TopNavLogo {
    width: 120px;
    height: 100%;
}

.LoginAttribute {
    position:absolute;
    right: 40px;
}