 .Carousel{
    display: flex;
    justify-content:center;
    position:relative;
    align-items: center;
    width:100%;
    height:100%;
}
 /* .Slide{
    border-radius:0.5rem;
    box-shadow: 0 0 7 #666;
    height:400px;
    width:800px;
}  */
  
.dotStyles{
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
}
.dotStyles.active{
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}   