.SearchContainer{
    display: flex;
    position:relative;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height:70px;
    width:100%;    
}
.filter{
    display: flex;
    margin-left: 20px;
    min-width:100px;
    max-width:10%;
    border-radius:60px;
    height:50px;
    background-color: var(--accent-color);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height:100%;
    margin-right:20px;
}
.InputBar{
    display:flex;
    height:50px;    
    width:80%;
    box-sizing: border-box; 
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    display:flex;
    border-style: solid;
}
.InputButton{
    display:flex;
    height:50px;
    box-sizing: border-box; 
    width: 20%;
    margin-left:none;
    margin-right:10px;
    border-radius: 0 15px 15px 0;
    background-color: var(--highlight-color);
}
.SearchIcon{
    height:100%;
    width:100%;
    color: white;
}
.dropdownMenu{
     height:300px; 
     width:200px; 
     background-color: var(--accent-color);
}