.Layout-container {
  display: flex;
  position:relative;
  flex-direction: column;
  min-height: 100vh;;
  background-color: var(--lavender-blush);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}