.Top-nav-container { 
    display: flex;
    /* position: absolute; */
    /* position:fixed; */
    justify-content: center;
    z-index: 5;
    width: 100%;
    height: 120px;
    flex-direction: row;
    background-color: white;
    align-items: center;
}

.Cart-attribute {
    position:absolute;
    right: 150px;
}

.Top-nav-logo {
    width: 120px;
    height: 100%;
}

.Login-attribute {
    position:absolute;
    right: 40px;
}